.works {
  top: 0;
  background-color: var(--primary-color);
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: var(--autumn-foliage);
  gap: 20px;
}

.works_container {
  display: flex;
  gap: 20px;
}

.work_card {
  margin-top: 20px;
  position: relative;
  width: 400px;
  height: 40vh;
  cursor: pointer;
  border-radius: 20px;
}

.work_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.work_card_info {
  position: absolute;
  border-radius: 20px;
  background: linear-gradient(0deg, #181818e0 0%, #2b2b2b50 25%, #f5f5f500 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.work_card_info:hover {
  transition-duration: 0.3s;
  box-shadow: 0 0 2px 0 var(--autumn-foliage);
  background: linear-gradient(0deg, #1818188e 0%, #2b2b2b21 25%, #f5f5f500 100%);
}

.work_card_info_tags {
  display: flex;
  gap: 10px;
}

.work_card_info_tags span {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #90afc59d;
}
